.advantages {
  width: 320px;
  margin: 0 auto;
  background-color: @color-blue;
}

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: @color-blue-dark;
}

.advantages h2 {
  margin-top: 0;
}

.advantages__list {
  .reset-list();
}
