.test-task-wrapper {
  background-color: @color-blue;
}

.test-task {
  width: 320px;
  min-height: 310px;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  background: url("../img/bg-footer-mobile.png") no-repeat center 95%;
}

.test-task h2 {
  margin: 0;
  padding: 20px 0 0 20%;
  line-height: 1.3;
  font-size: 22px;
}

.test-task p {
  margin: 0;
  margin-bottom: 130px;
  padding: 0 0 0 20%;
  line-height: 1.3;
  font-size: 22px;
  font-weight: bold;
}

.test-task__toggle {
  width: 90%;
  margin: 20px auto;
}

.test-task-page-wrapper {
  background-color: @color-grey;
}

.test-task-page__wrapper {
  border: 1px solid @color-blue;
}

.test-task-page {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

.test-task-page h1 {
  margin: 0;
  padding: 20px;
}

.test-task-page p {
  margin: 0;
  padding: 15px;
  font-size: 16px;
}

.test-task-page__list {
  width: 280px;
  margin: 10px auto;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;

}

.test-task-page__item,
.test-task-page__luck {
  .reset-list();
  position: relative;
  margin: 15px;
  padding-left: 10px;
  line-height: 1.2;
  font-size: 14px;
  font-style: italic;
}

.test-task-page__item::before {
  position: absolute;
  content: "";
  left: -10px;
  width: 15px;
  height: 15px;
  background-color: @color-orange;
  border-radius: 50%;
}

